.danger{
    background-color: red;
}

.success{

    background-color: lime;
}

.primary{
    background-color: aqua;
}
.button_hover:hover{
     transition: 0.3s all;
     background-color: rgba(0, 0, 0, 0.3);
}